.env
.mp4
venv/
env*/
models/
data/
*.pyc
*.csv
*.json
*.jsonl
*.jsonl.gz
*.jsonl.gz.part
*.jpg
*.jpeg
*.gif
*.bmp
*.tiff
*.ico
*.webp
*.wav
*.mp3
*.avi
*.mov
*.mp4
*.m4v
*.jpg
*.jpeg
*.gif
*.bmp
*.tiff
*.ico
*.webpenv*
*.pyc
*.csv
*.json
*.jsonl
*.jsonl.gz
*.jsonl.gz.part
*.png
*.jpg
*.jpeg
*.gif
*.bmp
*.tiff
*.ico
*.webp
*.wav
*.mp3
*.avi
*.mov
*.mp4
*.m4v
*.m4a